@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
#player {
	height: 150px;
	width: 500px;
	background-color: #FFC;
	background-size: cover;
	overflow: hidden;
	border: 2px solid #c90
}
#cover {
	height: 150px;
	width: 150px;
	float: left;
	background-image: url(../img/cover.png);
}
#cover25 {
	height: 150px;
	width: 150px;
	float: left;
	background-image: url(../img/nes_op_ed_cover%20-%20small.png);
}



#play {
	float: left;
	height: 150px;
	width: 350px;
}
#music_player {
	width: 300px;
	text-align: center;
}
.title1 {
	font-family: "宋体", "华文宋体", "新宋体", "明朝";
	font-size: 30px;
	padding-top: 20px;
	padding-left: 30px;
	font-weight: bolder;
	color: #c90;
	height: 28px;
}
.title2 {
	font-family: "宋体", "华文宋体", "新宋体", "明朝";
	font-size: 24px;
	padding-left: 30px;
	padding-bottom: 20px;
	color: #c90;
	padding-top: 5px;
}
.ost_cover {
	font-family: "宋体", "华文宋体", "新宋体", "明朝";
	font-size: 24px;
	font-style: italic;
	color: #FFF;
}
